/*body{	
	background: #6DBFFB url(../images/background.jpg) center -100px no-repeat;
	animation:movebg 2s;	
	animation-direction:alternate;
	-webkit-animation:movebg 2s;
	-webkit-animation-direction:alternate;
	-moz-animation:movebg 2s;
	-o-animation:movebg 2s;*/
	/*-webkit-transform:rotate(30deg);*/
	/*-webkit-transform:scale(0.8,0.8);*/	
/*}
@keyframes movebg{
	from{background-position:top center;}
	to{background-position:center -100px;}
}
@-webkit-keyframes movebg{
	from{background-position:top center; 
	to{background-position:center -100px;
}
@-moz-keyframes movebg{
	from{background-position:top center;}
	to{background-position:center -100px;}
}
@-o-keyframes movebg{
	from{background-position:top center;}
	to{background-position:center -100px;}
}
*/
.tab-content{
	border:1px solid #dfdfdf;
	border-top:none;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	vertical-align:middle;
}
