<div class="row hao_tab">
  <div class="panel panel-default rest_ko">
      <!-- Default panel contents -->
      <div class="panel-heading">公司资料
          <a href="#/member/password" class="float_right" style="margin-left: 20px;">修改密码</a>
          <a href="#/member/edit" class="float_right">修改资料</a>
      </div>
      
      <div class="panel-body basic_form ">
          <div class="col-md-2"></div>
          <div class=" col-md-12 col-xs-12 " id="check_table">
              <table class="table table-hover">
                  <thead>
                  <tr>
                      <th colspan="2"  id="check_copmtitle"><h1 style="margin-top: 0;"></h1></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>公司全称</td>
                      <td>&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                      <td>地址</td>
                      <td>&nbsp;&nbsp;</td>

                  </tr>

                  <tr>
                      <td>电子邮件</td>
                      <td>&nbsp;&nbsp;</td>
                  </tr>

                  <tr>
                      <td>联系人1：</td>
                      <td>&nbsp;&nbsp;</td>
                  </tr>

                  <tr>
                      <td>联系人2：</td>
                      <td>&nbsp;&nbsp;</td>
                  </tr>

                  </tbody>
              </table>

          </div>
      </div>
    </div>
  </div>


