<div class="row hao_tab logo_css" id="member_login">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">用户登录</div>
        <div class="panel-body">
            <!-- Table -->
            <form class="form-horizontal basic_form css-form"  role="form"  name="loginFrom" ng-submit="submint(loginFrom)" novalidate>

                <div class="form-group">
                    <label class="control-label col-xs-6 col-md-3">账号</label>
                    <div class="col-xs-12 col-md-8">
                        <input type="text" ng-model="user.username" name="username" class="form-control required" placeholder="请输入登录账号" autocomplete="off"  ng-minlength="3" ng-maxlength="10"  required >
                        <label ng-show="submintStatus" class="error">
                            <span ng-show="loginFrom.username.$pristine">用户名不能为空！</span>
                            <span ng-show="loginFrom.username.$dirty && loginFrom.username.$invalid">用户名长度大于3位小于10位字符！</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-md-3">密码</label>
                    <div class="col-xs-12 col-md-8">
                        <input type="password" ng-model="user.password" name="password" class="form-control"  placeholder="请输入登录密码" autocomplete="off"  ng-minlength="5" ng-maxlength="10" required>
                        <label ng-show="submintStatus" class="error">
                            <span ng-show="loginFrom.password.$pristine">密码不能为空！</span>
                            <span ng-show="loginFrom.password.$dirty && loginFrom.password.$invalid">密码长度大于5位小于10位！</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-md-3">验证码</label>
                    <div class="col-xs-12 col-md-8">
                        <div class="col-xs-8 col-md-8" style="padding-left: 0; padding-right: 0;">
                            <input ng-model="user.captcha" type="text" name="captcha" class="form-control"  required ng-minlength="4" ng-maxlength="4">
                            <label ng-show="submintStatus" class="error">
                                <span ng-show="loginFrom.captcha.$pristine">验证码不能为空！</span>
                                <span ng-show="loginFrom.captcha.$dirty && loginFrom.captcha.$invalid">请输入正确的验证码！</span>
                            </label>
                        </div>
                        <div class="col-xs-4 col-md-4" style="padding-left: 0; padding-right: 0; cursor: pointer">
                            <img src="" class="captcha" ng-click="upCaptcha()">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-md-3"></label>
                    <div class="col-xs-12 col-md-8">
                        <button type="submit" ng-click="subminted()" class="btn btn-primary col-md-8" id="login-submit" >&nbsp;&nbsp;登&nbsp;&nbsp;录&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
