

<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;" id="border_bo_fff">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand ben_login" href="/"></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" style="height: 1px;">
            <ul class="nav nav-pills navlist" role="tablist">
                <li role="presentation"><a href="/">查询</a></li>
                <li role="presentation"><a href="/member/loanlist">借贷管理</a></li>
                <li role="presentation"><a href="/feedback/add">意见反馈</a></li>
                <li role="presentation"><a href="/member/">{{userinfo['username']}}</a></li>
                <li role="presentation"><a href="/member/logout">[退出]</a></li>
            </ul>
        </div>
    </div>
</nav>
