</div>

<!--[if lt IE 9]>
<script src="{{__static}}/js/html5.js"></script>
<script src="{{__static}}/js/respond.min.js"></script>
<![endif]-->
<script src="{{__static}}/js/jquery-1.10.2.min.js"></script>
<script src="{{__static}}/js/common.js"></script>
<script src="{{__static}}/js/jquery.validate.js"></script>
<script src="{{__static}}/js/jquery.mockjax.js"></script>
<script src="{{__static}}/js/messages_cn.js"></script>
<script src="{{__static}}/js/validate.js"></script>
<script type="text/javascript" src="{{__static}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{__static}}/js/jquery.template.min.js"></script>
<script type="text/javascript" src="{{__static}}/js/avalon.min.js"></script>

